<head>
		<meta property="og:title" content="Our Clean City" />
		<meta property="og:url" content="http://www.ourcleancity.com" />
		<meta property="og:image" content="public/image/ourcleancity.png" />
		<meta property="og:description" content="Our Clean City makes it easy to submit service requests to your local civic management. We process submissions by location density, number and frequency of requests and proximity. If your city doesn't support Our Clean City, we will gather your submissions and provide the information to your local city government." />

	</head>
<template name="layout">

  
    {{>yield}}
  
</template>