.more_info {
    margin-top: 8%;
}
.down_arrow {
    color: white;
    margin-bottom: 5%;
}
.choice_nav{
    color:white;
}
.selector{
    margin-right: 1%;
    margin-left: 1%;
}
.pointer_arrow {
    color: white;
    
}
.up_arrow {
		margin-top: 3%;
    padding-top: 5%;
    margin-left: 48.5%;
    color: black;
}
.up_arrow_mobile {
		margin-top: 3%;
    padding-top: 5%;
    margin-left: 45.5%;
    color: black;
}
.icon_list {
	margin-left: 47.5%;
    color: black;
}
.copyright {
	text-align: center;
}

.photoDisplay {
      z-index: 10;
  position: absolute;
  float: right;
  border-radius: 20%;
  margin:5%;
}

.photoStream {
    width:400px;
    margin: 0 0 -2% 0;

}
.counter {
    width: 12%;
    height: 50px;
    padding: 0px !important;
    border: 0px !important;
    background-color: #1f8dd6;

}

.downVote {
    width: 42%;
    height: 50px;
    padding: 0px !important;
    border: 0px !important;
    background-color: red;
    
}

.upVote {
    width: 44%;
    height: 50px;
    padding: 0px !important;
    border: 0px !important;
    background-color: green;
    
}