.more_info {
    margin-top: 8%;
}
.down_arrow {
    color: white;
    margin-bottom: 5%;
}
.pointer_arrow {
    color: white;
    
}
.up_arrow {
		margin-top: 3%;
    padding-top: 5%;
    margin-left: 48.5%;
    color: black;
}
.up_arrow_mobile {
		margin-top: 3%;
    padding-top: 5%;
    margin-left: 45.5%;
    color: black;
}
.icon_list {
	margin-left: 47.5%;
    color: black;
}
.copyright {
	text-align: center;
}